

<style>
    .responsive-section {
        margin-left: 15rem;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .card-title {
        margin-bottom: 20px;
    }
    
    @media (max-width: 992px) {
        .responsive-section {
            margin-left: 0;
        }
    }
</style>

<section class="responsive-section">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Edit Category</h2>
                        {{#if catError}}
                        <p style="color: red;">{{catError}}</p>
                        {{/if}}
                        <form action="/admin/edit-category/{{category._id}}"  id="myForm" method="POST"
                            enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="Category">Category</label>
                                <input type="text" name="Category" id="Category" value="{{category.Category}}"
                                    class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="Image">Image</label>
                                <img src="/category-images/{{category._id}}.jpg" alt=""
                                    style="width: 100px;height:auto">
                                <input type="file" name="Image" class="form-control" accept="Image/*">
                            multple</div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
document.getElementById('myForm').addEventListener('submit', function(event) {
  // Get the input value and convert it to uppercase
  var inputValue = document.getElementById('Category').value;
  var uppercasedValue = inputValue.toUpperCase();
  
  // Update the input value with the uppercase value
  document.getElementById('Category').value = uppercasedValue;
});



</script>
